*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.myCont{
  width: 100%;
}
.text-orange{
  color: orangered;
}
.bg-orange{
  background-color: orangered !important;
}
.m-top{
  margin-top: 10rem !important;
}